.footer__copyright {
  margin-top: calc(1.97vw + 41px);
  margin-bottom: calc(2.5vw + 28px);
  text-align: right;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}


@media only screen and (max-width: 320px) {
	.footer__copyright {
    font-size: 4.37vw;
    line-height: 5.31vw;
  }
 }

@media only screen and (min-width: 321px) and (max-width: 1280px) {
	.footer__copyright {
    font-size: calc(0.41vw + 12px);
    line-height: calc(0.52vw + 15px);
  }
 }

 @media only screen and (min-width: 1281px) {
	.footer__copyright {
    font-size: 18px;
    line-height: 22px;
  }
 }