.header__entrance-button {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    grid-area: login;
  }

  .header__entrance-button:visited {
    color: #FFFFFF;
    text-decoration: none;
  }
  

@media only screen and (max-width: 320px) {
  .header__entrance-button {
    margin-right: 9.37vw;
    font-size: 4.37vw;
    line-height: 5.31vw;
  }
 }

@media only screen and (min-width: 321px) and (max-width: 1280px) {
  .header__entrance-button {
    margin-right: calc(-3.13vw + 40px);
    font-size: calc(0.41vw + 12px);
    line-height: calc(0.52vw + 15px);
  }
 }

@media only screen and (min-width: 1281px) and (max-width: 1920px) {
  .header__entrance-button {
    margin-right: 0px;
    font-size: 18px;
    line-height: 22px;
  }
 }
