.profile__add-button {
  padding: 0;
  background: none;
  cursor: pointer;
  outline: 0;
  height: 50px;
  width: 18.4vw;
  min-width: 50px;
  max-width: 150px;
  display: flex;
  border: 2px solid #FFFFFF;
  box-sizing: content-box;
  justify-content: center;
  margin-top: 0;
  opacity: 1;
  transition: opacity 0s, opacity 0.15s linear;
  background-image: url(../../../images/profile/info/add_button/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

@media screen and (max-width: 598px) {
	.profile__add-button { 
      margin-top: 36px;
      min-width: 88.12%;
    }
 }

.profile__add-button:hover {
  opacity: 0.6;
}
