.elements__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  align-self: center;
  display: flex;
  background-image: url(../../../images/elements/Trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 19.3px;
  opacity: 1;
  transition: opacity 0s, opacity 0.15s linear;
  filter: drop-shadow(2px 2px 2px #222); 
}

.elements__delete-button:hover {
  opacity: 0.5;
}

.elements__delete-button:active {
  opacity: 1;
}

.elements__delete-button:focus {
  outline: 0;
}
